<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Selección de Variables</h1>
  <h3 class="alert-heading">Prof. Enrique Mejía Ospino, emejia@uis.edu.co</h3>
  <h4 class="alert-heading">Escuela de Química</h4>
  <h5 class="alert-heading">Universidad Industrial de Santander</h5>
  <p>
  </div>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import itertools
import time
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model
import statsmodels.formula.api as smf
import scipy.stats as scs
from sklearn.linear_model import LinearRegression

In [2]:
diabetes = datasets.load_diabetes()
X = diabetes.data[:150]
y = diabetes.target[:150]
diabetes['feature_names']
diabetes['DESCR']

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, T-Cells (a type of white blood cells)\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, thyroid stimulating hormone\n      - s5      ltg, lamotrigine\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

<font color=red> **Convertimos los datos a DataFrame.**

In [3]:
x=pd.DataFrame(X)
x_var=x.set_axis(diabetes['feature_names'], axis=1, inplace=False).astype('float64')

y=pd.DataFrame(y)
y=y.set_axis(['R'], axis=1, inplace=False)
x_var

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
145,-0.041840,-0.044642,0.128521,0.063187,-0.033216,-0.032629,0.011824,-0.039493,-0.015998,-0.050783
146,-0.030942,0.050680,0.059541,0.001215,0.012191,0.031567,-0.043401,0.034309,0.014823,0.007207
147,-0.056370,-0.044642,0.092953,-0.019442,0.014942,0.023425,-0.028674,0.025453,0.026056,0.040343
148,-0.060003,0.050680,0.015350,-0.019442,0.036958,0.048164,0.019187,-0.002592,-0.030751,-0.001078
149,-0.049105,0.050680,-0.005128,-0.046985,-0.020832,-0.020416,-0.069172,0.071210,0.061238,-0.038357

In [4]:
# Todas la columnas (excepto Prop, que es la variable respuesta)
model = sm.OLS.from_formula('y ~ ' + '+'.join(x_var.columns.difference([''])), x_var)
result = model.fit()
print (result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.530
Model:                            OLS   Adj. R-squared:                  0.496
Method:                 Least Squares   F-statistic:                     15.67
Date:                Mon, 08 Nov 2021   Prob (F-statistic):           1.54e-18
Time:                        12:29:52   Log-Likelihood:                -804.36
No. Observations:                 150   AIC:                             1631.
Df Residuals:                     139   BIC:                             1664.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.9381      4.568     33.483      0.000     143.907     161.969
age          -67.3311    106.167     -0.634      0.527    -277.242     142.580
bmi          445.9170    119.643      3.727      0.000     209.362     682.472
bp           324.4991    117.439      2.763      0.007      92.301     556.697
s1            89.1107    833.494      0.107      0.915   -1558.854    1737.076
s2          -370.3523    694.074     -0.534      0.594   -1742.660    1001.956
s3          -263.5643    398.016     -0.662      0.509   -1050.512     523.384
s4           123.1847    274.715      0.448      0.655    -419.977     666.346
s5           579.0537    303.269      1.909      0.058     -20.563    1178.671
s6            89.8998    105.344      0.853      0.395    -118.385     298.184
sex         -369.9938    112.515     -3.288      0.001    -592.456    -147.531
==============================================================================
Omnibus:                        0.798   Durbin-Watson:                   1.871
Prob(Omnibus):                  0.671   Jarque-Bera (JB):                0.431
Skew:                          -0.042   Prob(JB):                        0.806
Kurtosis:                       3.249   Cond. No.                         266.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [5]:
# Todas la columnas (excepto Prop, que es la variable respuesta)
model = sm.OLS.from_formula('y ~ ' + '+'.join(x_var.columns.difference(['s1'])), x_var)
result = model.fit()
print (result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.530
Model:                            OLS   Adj. R-squared:                  0.500
Method:                 Least Squares   F-statistic:                     17.53
Date:                Mon, 08 Nov 2021   Prob (F-statistic):           3.57e-19
Time:                        12:29:52   Log-Likelihood:                -804.36
No. Observations:                 150   AIC:                             1629.
Df Residuals:                     140   BIC:                             1659.
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.8769      4.516     33.856      0.000     143.949     161.804
age          -67.6119    105.759     -0.639      0.524    -276.703     141.479
bmi          445.4967    119.155      3.739      0.000     209.920     681.073
bp           324.8085    116.988      2.776      0.006      93.516     556.101
s2          -298.4453    170.790     -1.747      0.083    -636.107      39.216
s3          -225.6681    180.396     -1.251      0.213    -582.321     130.984
s4           131.1850    263.393      0.498      0.619    -389.556     651.926
s5           608.0138    135.891      4.474      0.000     339.350     876.678
s6            90.8973    104.559      0.869      0.386    -115.822     297.617
sex         -369.4404    111.999     -3.299      0.001    -590.868    -148.013
==============================================================================
Omnibus:                        0.828   Durbin-Watson:                   1.871
Prob(Omnibus):                  0.661   Jarque-Bera (JB):                0.457
Skew:                          -0.046   Prob(JB):                        0.796
Kurtosis:                       3.254   Cond. No.                         78.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

<font color=red> **Realizamos una combinatoria para escoger un número diferente de variables.**

In [6]:
xsel1=[]
for i in range(1,10):
    for x_sel in itertools.combinations(x_var.columns, i):
        #print(x_sel)
        xsel1.append(x_sel)

In [7]:
len(xsel1)

1022

In [8]:
from sklearn.metrics import mean_squared_error, r2_score
def optimise_sel(X, y):
    
    # Definimos el modelo lineal
    reg_sel = LinearRegression()
    
    reg_sel.fit(X, y)
    y_pred1 = reg_sel.predict(X)
    # Calculamos métricas
    r2 = r2_score(y, y_pred1)
    mse = mean_squared_error(y, y_pred1)
    rpd = y.std()/np.sqrt(mse)
    
    return (y_pred1, r2, mse, rpd)

In [9]:
# probamos todas las posibilidades
r2s = []
mses = []
rpds = []
yp1 = []
xsel = []
for k in range(1, 10):
    for x_sel in itertools.combinations(x_var.columns, k):
        y_pred1, r2, mse, rpd = optimise_sel(x_var[list(x_sel)], y)
        xsel.append(x_sel)
        r2s.append(r2)
        mses.append(mse)
        rpds.append(rpd)
        yp1.append(y_pred1)

In [10]:
#r2s[mses.index(min(mses))]
#mses.index(min(mses))
#x_var[list(xsel[r2s.index(max(r2s))])]
x_var[list(xsel[mses.index(min(mses))])]

,age,sex,bmi,bp,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...
145,-0.041840,-0.044642,0.128521,0.063187,-0.032629,0.011824,-0.039493,-0.015998,-0.050783
146,-0.030942,0.050680,0.059541,0.001215,0.031567,-0.043401,0.034309,0.014823,0.007207
147,-0.056370,-0.044642,0.092953,-0.019442,0.023425,-0.028674,0.025453,0.026056,0.040343
148,-0.060003,0.050680,0.015350,-0.019442,0.048164,0.019187,-0.002592,-0.030751,-0.001078
149,-0.049105,0.050680,-0.005128,-0.046985,-0.020416,-0.069172,0.071210,0.061238,-0.038357

<font color=red> **Tratemos con otros datos.**

In [11]:
url ='https://github.com/jbrownlee/Datasets/raw/master/pima-indians-diabetes.data.csv'
var = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(url, names=var)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

For Each Attribute: (all numeric-valued)
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)
   9. Class variable (0 or 1)

8. Missing Attribute Values: Yes

9. Class Distribution: (class value 1 is interpreted as "tested positive for
   diabetes")

   Class Value  Number of instances
   0            500
   1            268

In [12]:
x_var = (data[['preg','plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age']]).astype('float64')
y = data[['class']]
x_var

     preg   plas  pres  skin   test  mass   pedi   age
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0
..    ...    ...   ...   ...    ...   ...    ...   ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0

[768 rows x 8 columns]

In [13]:
D = pd.read_csv("C://Users/Enrique Mejia/Documents/Análisis_Interpretación_Datos/Datos/heart_failure_clinical_records_dataset.csv")
names_var = D.columns
names_var = list(names_var)
#allfeats.remove("time")
names_var.remove("DEATH_EVENT")
names_var.remove("time")
catcols = ["anaemia", "diabetes", "high_blood_pressure", "sex", "smoking"]
# for c in catcols:
#   D[c] = D[c].astype("category")
numcols = set(names_var) - set(catcols)
numcols = list(numcols)
#numcols.remove("DEATH_EVENT")
print(numcols, catcols)

D["time"].describe()

['ejection_fraction', 'serum_sodium', 'age', 'serum_creatinine', 'platelets', 'creatinine_phosphokinase'] ['anaemia', 'diabetes', 'high_blood_pressure', 'sex', 'smoking']

count    299.000000
mean     130.260870
std       77.614208
min        4.000000
25%       73.000000
50%      115.000000
75%      203.000000
max      285.000000
Name: time, dtype: float64

In [14]:
from sklearn.preprocessing import * 

for col in numcols: 
    scaler = MinMaxScaler()
    D[col] = scaler.fit_transform(D[col].values.reshape(-1,1))

In [15]:
D[names_var]

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking
0,0.636364,0,0.071319,0,0.090909,1,0.290823,0.157303,0.485714,1,0
1,0.272727,0,1.000000,0,0.363636,0,0.288833,0.067416,0.657143,1,0
2,0.454545,0,0.015693,0,0.090909,0,0.165960,0.089888,0.457143,1,1
3,0.181818,1,0.011227,0,0.090909,0,0.224148,0.157303,0.685714,1,0
4,0.454545,1,0.017479,1,0.090909,0,0.365984,0.247191,0.085714,0,0
...,...,...,...,...,...,...,...,...,...,...,...
294,0.400000,0,0.004848,1,0.363636,1,0.157474,0.067416,0.857143,1,1
295,0.272727,0,0.229268,0,0.363636,0,0.296884,0.078652,0.742857,0,0
296,0.090909,0,0.259888,1,0.696970,0,0.869075,0.033708,0.714286,0,0
297,0.090909,0,0.304925,0,0.363636,0,0.139290,0.101124,0.771429,1,1
298,0.181818,0,0.022072,0,0.469697,0,0.448418,0.123596,0.657143,1,1

In [16]:
from sklearn.model_selection import cross_val_predict, StratifiedKFold, cross_validate, cross_val_score
reg = linear_model.Ridge(alpha=.5)
X = D[names_var] ; y = D["DEATH_EVENT"].values
reg.fit(X, y)
mse = mean_squared_error(y, reg.predict(X))
print(mse)

0.16674294640807721

In [17]:
x_var=D[names_var]; y = D["DEATH_EVENT"].values

In [18]:
from sklearn.metrics import mean_squared_error, r2_score
def optimise_sel(X, y):
    
    # Definimos el modelo lineal
    reg_sel = linear_model.Ridge(alpha=.5)
    
    reg_sel.fit(X, y)
    y_pred1 = reg_sel.predict(X)
    # Calculamos métricas
    r2 = r2_score(y, y_pred1)
    mse = mean_squared_error(y, y_pred1)
    rpd = y.std()/np.sqrt(mse)
    
    return (y_pred1, r2, mse, rpd)

In [19]:
# probamos todas las posibilidades
r2s = []
mses = []
rpds = []
yp1 = []
xsel = []
for k in range(1, 11):
    for x_sel in itertools.combinations(x_var.columns, k):
        y_pred1, r2, mse, rpd = optimise_sel(x_var[list(x_sel)], y)
        xsel.append(x_sel)
        r2s.append(r2)
        mses.append(mse)
        rpds.append(rpd)
        yp1.append(y_pred1)

In [20]:
mses[mses.index(min(mses))]
mses.index(min(mses))
#x_var[list(xsel[r2s.index(max(r2s))])]
#x_var[list(xsel[mses.index(min(mses))])]

2035

<font color=red size=5>**Regresión Logística + Selección de variables y Modelo**

In [21]:
from sklearn.model_selection import KFold, RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
#from sklearn.feature_selection import *
rkf = RepeatedStratifiedKFold(n_splits = 10, n_repeats = 2)
clf = LogisticRegression(solver = "liblinear")
X = D[names_var] ; y = D["DEATH_EVENT"].values
cv_score = np.mean(cross_val_score(clf, X, y, cv = rkf))#, scoring = mcc))
print(cv_score)

0.7241954022988505

In [30]:
D[names_var]

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking
0,0.636364,0,0.071319,0,0.090909,1,0.290823,0.157303,0.485714,1,0
1,0.272727,0,1.000000,0,0.363636,0,0.288833,0.067416,0.657143,1,0
2,0.454545,0,0.015693,0,0.090909,0,0.165960,0.089888,0.457143,1,1
3,0.181818,1,0.011227,0,0.090909,0,0.224148,0.157303,0.685714,1,0
4,0.454545,1,0.017479,1,0.090909,0,0.365984,0.247191,0.085714,0,0
...,...,...,...,...,...,...,...,...,...,...,...
294,0.400000,0,0.004848,1,0.363636,1,0.157474,0.067416,0.857143,1,1
295,0.272727,0,0.229268,0,0.363636,0,0.296884,0.078652,0.742857,0,0
296,0.090909,0,0.259888,1,0.696970,0,0.869075,0.033708,0.714286,0,0
297,0.090909,0,0.304925,0,0.363636,0,0.139290,0.101124,0.771429,1,1
298,0.181818,0,0.022072,0,0.469697,0,0.448418,0.123596,0.657143,1,1

In [29]:
from sklearn.feature_selection import *
feat_list = [] 
all_scores = [] 
for i in range(10):
    np.random.seed(i)
    sfm = SelectFromModel(estimator = clf, threshold=None, prefit=False, 
                       norm_order=1, max_features = 11)
    sfm.fit(D[names_var], y)
    modfeats = sfm.get_support()
  
    #print(modfeats)
    Xred = D[names_var].iloc[:,modfeats]
    cols = list(Xred.columns)
    feat_list.append(cols)
    print(Xred)
  
    rskf = RepeatedStratifiedKFold(n_splits = 10, n_repeats = 2)
    this_score = np.mean(cross_val_score(clf, Xred, y, cv = rskf))# scoring = mcc))
    print(this_score) 
    all_scores.append(this_score)

for i in range(10):
    if all_scores[i] == np.max(all_scores):
        print("These are the Best Features", feat_list[i])
        select_feats = feat_list[i]
        print("They scored: ", all_scores[i])
#print("Overall Average", np.mean(all_scores))

          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7372988505747127
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7408620689655173
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7393103448275863
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7408620689655172
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7360344827586206
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7390229885057471
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7407471264367815
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7425862068965519
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7391379310344828
          age  ejection_fraction  serum_creatinine  serum_sodium
0    0.636364           0.090909          0.157303      0.485714
1    0.272727           0.363636          0.067416      0.657143
2    0.454545           0.090909          0.089888      0.457143
3    0.181818           0.090909          0.157303      0.685714
4    0.454545           0.090909          0.247191      0.085714
..        ...                ...               ...           ...
294  0.400000           0.363636          0.067416      0.857143
295  0.272727           0.363636          0.078652      0.742857
296  0.090909           0.696970          0.033708      0.714286
297  0.090909           0.363636          0.101124      0.771429
298  0.181818           0.469697          0.123596      0.657143

[299 rows x 4 columns]
0.7440229885057471
These are the Best Features ['age', 'ejection_fraction', 'serum_creatinine', 'serum_sodium']
They scored:  0.7440229885057471

In [26]:
modfeats

array([ True, False, False, False,  True, False, False,  True,  True,
       False, False])